section h1{
    text-align: center;
    font-family: cursive;
    font-style:inherit;
    letter-spacing: 2px;
    font-size: 35px;
}
#about .description {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}
#mvg img {
    margin: 3%;
    display: inline-flexbox;
    border-radius: 20%;
}